body {
  padding: 20px;
  background: #295489;
  color: white;
  font-family: 'Comic Sans MS';
}

a {
  color: white;
}

h1 {
  margin: 80px;
}

nav {
  margin-bottom: 100px;
  padding-left: 10px;
}

nav > h1 {
  margin: 0;
  margin-right: 50px;
  display: inline-block;
}

.meme {
  width: 50%;
}

img {
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}

label {
  margin-right: 10px;
}

nav a {
  margin-right: 30px;
}

#MemeForm main {
  text-align: center;
}

#MemeForm main h1 {
  font-size: 5vw;
}

#MemeForm form {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

input[type='file'] {
  font-family: 'Comic Sans MS';
}

input[type='submit'] {
  font-family: 'Comic Sans MS';
  width: 100%;
  margin-top: 40px;
  background: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 2em;
}